:root {
    --light-bg:      #F2F1F3;	
    --dark-bg:       #262B35;	
    --light-em:      #68707a;
    --dark-em:       #958d94;
    --main-color:    #587d84;
    --light-text:    #1c1c1c;
    --dark-text:     white;
}


html {
    background-color: var(--dark-bg);
    width: 100%;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "lobster";
    src: url("../fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: "ackaisho";
    src: url("../fonts/ackaisyo.ttf");
}


* {
    font-size: 1em;
    font-family: roboto, arial, sans-serif;
    color: var(--light-text);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

*:lang(ja) {
    font-family: "ackaisho";
}

/* Main website's grid. */
body {
    display: grid;
    grid-template-areas:
        "header header"
        "nav    main"
        "footer footer";
    grid-template-columns: 0fr 1fr;
    background-color: var(--light-bg);
}

/* Banner-related style. */
header {
    grid-area: header;
    background-image: url('../img/wave-pattern.jpg');
    background-repeat: repeat-x;
    filter: grayscale(30%);
}

header > div {
    padding: 5em;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header > div > * {
    padding: 0.2em;
}

header > div > div {
    padding: 0;
    padding-bottom: 1em;
}

header p {
    color: white;
}

header p:nth-child(2) {
    font-family: "lobster";
    font-size: 2.2em;
}

header p:nth-child(3) {
    font-size: 1.5em;
}

/* Flexible hexagonal logo. */
header > div > div div {
    --hexagon-width: 75px;
    --hexagon-height: calc(var(--hexagon-width) / 2.0);
    /* Ratio of about sqrt(3) between height and hexagon pseudo-elements */
    --hexagon-offset: calc(var(--hexagon-height) / 1.73);
    width: var(--hexagon-width);
    text-align: center;
    height: var(--hexagon-height);
    background: var(--main-color);
    position: relative;
    z-index: 0;
}

.hexagontext {
    color: white;
    font-weight: bold;
    font-size: var(--hexagon-height);
    position: relative;
    top: -0.2em;
    z-index: 2;
}

header > div > div div::before,
header > div > div div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: var(--hexagon-height) solid transparent;
    border-right: var(--hexagon-height) solid transparent;
}

header > div > div div::before {
    top: calc(var(--hexagon-offset) * -1 + 1px);
    border-bottom: var(--hexagon-offset) solid var(--main-color);
}

header > div > div div::after {
    bottom: calc(var(--hexagon-offset) * -1 + 1px);
    border-top: var(--hexagon-offset) solid var(--main-color);
}

header > div > div > div + div {
    margin-left: var(--hexagon-height);
    margin-top: calc(var(--hexagon-offset)*1.2);
}

/* Navbar. */
nav {
    grid-area: nav;
    font-variant: small-caps;
    background-color: var(--light-bg);
    border-right: 1px dotted var(--light-em);
    padding: 1.5em 0.5em;
}

nav ul {
    margin-left: 0;
    position: sticky;
    top: 2em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
}

nav li a {
    font-size: 1.4em;
    text-decoration: none;
    padding: 0 0.5em;
}

nav li a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/* Main content. */
main {
    background-color: var(--light-bg);
}

main > div {
    background-color: var(--dark-bg);
}

main > section,
main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section > div,
main > div > article {
    max-width: 700px;
    min-width: 250px;
    padding: 0.5em 2em;
}

main > div > article {
    background-color: var(--light-bg);
    margin: 1em;
    border-radius: 8px;
}

/* Footer style. */
footer {
    background-color: var(--dark-bg);
    grid-area: footer;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

footer div {
    text-align: center;
}

footer p {
    color: var(--light-em);
}

footer a {
    color: var(--light-em);
}

/* General tag styles. */
h1, h2, h3 {
    line-height: 1.1;
    margin: 1em 0;
}

h2, h3, h2 abbr, h3 abbr {
    color: var(--light-em);
}

h1 {
    font-size: 1.8em;
    color: var(--main-color);
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

p {
    margin-bottom: 0.5em;
}

strong {
    font-weight: bold;
    border-bottom: thin solid black;
}

em {
    font-style: italic;
    border-bottom: thin dashed var(--dark-em);
}

a {
    color: var(--main-color);
    text-decoration: underline dotted;
    text-underline-offset: 3px;
}

a:hover {
    text-decoration: underline;
}

abbr {
    cursor: help;
}

ul, ol {
    margin-left: 4em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: hiragana-iroha;
}

cite {
    font-size: 1.1em;
    /* Todo: use var */
    background-color: lightgray;
    color: var(--light-text);
    padding: 0 0.2em;
    font-style: italic;
}

blockquote {
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    margin: 1em;
    padding: 0.5em 1em;
}

blockquote::before,
blockquote::after {
    position: absolute;
    font-size: 3em;
    width: 1em;
    height: 1em;
    color: var(--light-em);
}

blockquote::before {
    content: '“';
    left: 0;
    top: -0.4em;
}

blockquote::after {
    content: '”';
    right: 0;
    bottom: 0.4em;
}

blockquote var,
blockquote p {
    color: var(--light-em);
}

blockquote cite {
    color: var(--light-em);
    font-size: 0.9em;
    background-color: inherit;
    line-height: 2;
}

fieldset > div {
    padding: 0.5em 1em;
}

fieldset > div > div {
    display: flex;
    margin-bottom: 0.3em;
}

fieldset > div > div > div {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

fieldset > div > div > label {
    flex-shrink: 0;
    flex-basis: 200px;
}

fieldset > div > div > div > input {
    margin-right: 0.5em;
}

select,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    width: 100%;
}

input[type="submit"],
input[type="reset"] {
    padding: 0 0.4em;
    margin: 0.5em;
    margin-left: 0;
}

details,
details summary,
details span,
details p {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

details {
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
}

/* Styles shared between multiple pages. */
/* Unique style for the name of the method. */
.gen-eki {
    font-family: "lobster";
    font-size: 1.2em;
}

/* Bootstrap-like alerts styles. */
.error-text {
    background-color: #ef5547;
    color: #510801;
    border-radius: 5px;
    padding: 0.5em;
    border: thin solid #510801;
}

.info-text {
    background-color: #93bfea;
    color: #25323f;
    border-radius: 5px;
    padding: 0.5em;
    border: thin solid #25323f;
}

/* Style for a toggle button. */
.state-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    --state-selector-width: 2.2em;
    --state-selector-height: 1.4em;
    --state-selector-offset: 0.4em;
}

.state-selector label {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em 0;
}

.state-selector input[type=checkbox] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.state-selector > div > div {
    display: inline-block;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    width: var(--state-selector-width);
    height: var(--state-selector-height);
    vertical-align: middle;
    background-color: lightgray;
    transition: background 0.1s;
}

.state-selector > div > div:before {
    display: block;
    content: "";
    background: linear-gradient(to bottom, var(--light-bg) 0%, white 100%);
    border-radius: 50%;
    width: calc(var(--state-selector-height) - var(--state-selector-offset));
    height: calc(var(--state-selector-height) - var(--state-selector-offset));
    position: absolute;
    top: calc(var(--state-selector-offset)/2);
    left: 4px;
    transition: left .4s;
}

.state-selector input:checked ~ div > div {
    background: var(--main-color);
}

.state-selector input:checked ~ div > div:before {
    left: calc(var(--state-selector-width) / 2 - 2px);
}

/* index.php style. */
a.button {
    display: inline-block;
    padding: 0.5em 1.3em;
    border: 2px solid var(--light-em);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.1em;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--light-em);
    text-align: center;
    transition: all 0.1s;
}

a.button:hover{
    color: white;
    background-color: var(--light-em);
}

section > div a.button {
    float: right;
}

main > section > div > div {
    display: flex;
}

section > div aside {
    font-size: 6em;
    align-self: center;
    padding: 0 0.2em;
}

main > section:nth-child(even) {
    background-color: var(--dark-bg);
}

main > section:nth-child(even) h2 {
    color: var(--dark-em);
}

main > section:nth-child(even) p,
main > section:nth-child(even) aside
{
    color: var(--dark-text);
}

/* language.php style. */
p.poem {
    font-size: 1.2em;
    text-align: center;
    margin: 1em;
}

p.poem span {
    color: var(--main-color);
}

.toggle-diacritics ~ table tbody tr:nth-child(3),
.toggle-diacritics ~ table tbody tr:nth-child(5),
.toggle-diacritics ~ table tbody tr:nth-child(7),
.toggle-diacritics ~ table tbody tr:nth-child(10),
.toggle-diacritics ~ table tbody tr:nth-child(11) {
    display: none; 
}

.toggle-diacritics:checked ~ table tbody tr:nth-child(3),
.toggle-diacritics:checked ~ table tbody tr:nth-child(5),
.toggle-diacritics:checked ~ table tbody tr:nth-child(7),
.toggle-diacritics:checked ~ table tbody tr:nth-child(10),
.toggle-diacritics:checked ~ table tbody tr:nth-child(11) {
    display: table-row; 
}

table {
    font-size: 1.2em;
    caption-side: bottom;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

tbody tr:last-child > th {
    border-radius: 0 0 0 15px;
}

th, td {
    padding: 0.2em;
}

th {
    font-weight: bold;
    color: var(--dark-text);
}

thead,
tbody > tr > th {
    background-color: var(--main-color);
}

thead > tr > th:not(th:first-child) {
    border-bottom: 1px solid black;
}

tbody > tr > th:not(first-child) {
    border-right: 1px solid black;
}

table > caption {
    margin: 0.5em;
    font-weight: bold;
}

map ~ div {
    display: flex;
    align-items: center;
}

figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0.5em;
}

figure > figcaption {
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    margin: 0.5em;
}

/* method.php style. */
.state-selector ol {
    --timeline-dot-size: 15px;
    position: relative;
    width: 90%;
    margin-left: 0;
}

/* Specialization of .state-selector for method-chooser component. */
.state-selector ol::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1em;
}

.state-selector li {
    padding: 2px;
    display: block;
    text-align: center;
    width: 43%;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.state-selector li:nth-child(even) {
    left: 52%;
    border-radius: 0 15px 15px 0;
}

.state-selector li:nth-child(odd) {
    left: 0;
    border-radius: 15px 0 0 15px;
}

.state-selector li:nth-child(odd)::after,
.state-selector li:nth-child(even)::before {
    content: '';
    position: absolute;
    width: var(--timeline-dot-size);
    height: var(--timeline-dot-size);
    top: calc(var(--timeline-dot-size) - 10px);
    background-color: white;
    border: 2px solid var(--dark-em);
    border-radius: 50%;
    z-index: 1;
}

.state-selector li:nth-child(odd)::after {
    right: calc((var(--timeline-dot-size) + 20px)*(-1));
}

.state-selector li:nth-child(even)::before {
    left: calc((var(--timeline-dot-size) + 3px)*(-2));
}

.state-selector li:nth-child(odd)::before,
.state-selector li:nth-child(even)::after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    z-index: 1;
    border: medium solid white;
}

.state-selector li:nth-child(odd)::before {
    right: calc((var(--timeline-dot-size) - 5px)*(-1));
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.state-selector li:nth-child(even)::after {
    left: calc((var(--timeline-dot-size) - 5px)*(-1));
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* EM method */
#show-epi-method:not(checked) ~ h2 + ol + h2,
#show-epi-method:not(checked) ~ h2 + ol + h2 + ol {
    display: none;
}

/* IM method */
#show-epi-method:checked ~ h2 + ol + h2,
#show-epi-method:checked ~ h2 + ol + h2 + ol {
    display: block;
}

#show-epi-method:checked ~ div + h2,
#show-epi-method:checked ~ div + h2 + ol {
    display: none;
}

/* souscription.php style. */
.code {
    font-weight: bold;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

/* Media queries hell further down below. */
@media screen and (max-width: 1100px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-columns: 1fr;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 20, 20, 0.6);
        padding: 0.5em 0.5em;
        z-index: 2;
    }

    nav ul {
        flex-direction: row;
    }

    nav a {
        color: var(--light-bg);
    }

    nav li a:hover {
        color: var(--light-bg);
    }

    header > div > div {
        padding-top: 5em; 
    }

    /* Fix anchor links hidden by top nav menu. */
    /* Give a cookie to the guy who initially thought that up. */
    h2[id]::before,
    h3[id]::before {
        content: '';
        display: block;
        height: 3em;
        margin-top: -3em;
        visibility: hidden;
    }
}

@media screen and (max-width: 750px) {
    main > div > article {
        padding: 2em;
    }

    section aside {
        display: none;
    }

    header > div {
        height: 120px;
    }

    header p:last-of-type {
        display: none;
    }

    main > div > article {
        margin: 0;
        border-radius: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .state-selector ol::after {
        left: 0;
    }

    .state-selector li {
        width: 100%;
        margin: 5px;
        margin-left: 10px;
        border-radius: 0 ;
    }

    .state-selector li:nth-child(even),
    .state-selector li:nth-child(odd) {
        left: 0;
        border-radius: 0 15px 15px 0;
    }

    .state-selector li:nth-child(even)::before,
    .state-selector li:nth-child(odd)::after {
        left: -35px;
    }

    .state-selector li:nth-child(even)::after,
    .state-selector li:nth-child(odd)::before {
        left: -10px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    fieldset {
        width: 95%;
        padding: 0 0.5em;
    }

    fieldset > div > div {
        flex-direction: column;
    }

    fieldset > div > div > label {
        flex-basis: 0;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: 0.8rem;
    }

    header > div {
        height: 90px;
    }

    header > div > div {
        padding-bottom: 2em;
    }

    header > div > div div {
        --hexagon-width: 50px;
    }

    header p,
    figure {
        display: none;
    }

    .state-selector ol::after {
        left: -7px;
    }
}
